@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/tt-livret-subhead-trl');

* {
  box-sizing: border-box;
};

body {
  // font-family: 'TT Livret Subhead Trl', sans-serif;
  font-family: 'Satoshi', sans-serif;
  margin: 0;
  padding: 0;
};

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style:none;
}
ul, li { 
  margin: 0;
  padding: 0;
}
.comment ul {
  margin-left: 1em;
}
.comment ul ul ul ul ul {
  margin-left: 0;
}

.container {
  padding: 0 15px;
  max-width: 1110px;
  margin: auto;
}